
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content: center;
  }
  
  
  .slider-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    width: 40vw;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 1%;
  }
  
  
  .slider-images {
    width: calc(100% * 4);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 2;
  }
  
  .slide-image {
    width: 25%;
    max-height: 50vh;
  }
  
  
  .slider-controls {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
 
  .slider-text-container {
    width: 100%;
    overflow: hidden;
    margin: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  
  .slider-text {
    width: calc(100% * 4);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  
  .slide-text {
    width: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: antiquewhite;
  }
  

  .radio-buttons {
    margin: 1rem;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
  }
  

  input[type="radio"] {
    display: none;
  }
  
  label {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  
  input[type=radio]:checked + label > svg > circle {
    fill: rgb(0, 0, 0);
  }
  
  label:hover > svg > circle {
    fill: rgb(254, 254, 254);
  }
  
  label:active > svg > circle {
    fill: rgba(0, 0, 0, 0.92);
  }
  
  body:has(input[value="slide1"]:checked) .slider-images,
  body:has(input[value="slide1"]:checked) .slider-text {
    margin-left: 0;
  }
  
  body:has(input[value="slide2"]:checked) .slider-images,
  body:has(input[value="slide2"]:checked) .slider-text {
    margin-left: -100%;
  }
  
  body:has(input[value="slide3"]:checked) .slider-images,
  body:has(input[value="slide3"]:checked) .slider-text {
    margin-left: -200%;
  }
  
  body:has(input[value="slide4"]:checked) .slider-images,
  body:has(input[value="slide4"]:checked) .slider-text {
    margin-left: -300%;
  }
  
  @media (max-width: 680px) {
    .slider-controls {
      flex-direction: column;
    }
  
    .radio-buttons {
      align-self: center;
    }
  }
  
